<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.username">scott</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>

        <!-- 全局配置 -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- 加载映射文件 -->
        <mapping resource="com/cdsxt/po/Dept.hbm.xml"/>
        <mapping resource="com/cdsxt/po/Emp.hbm.xml"/>

    </session-factory>
</hibernate-configuration>